<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../favicon.ico" />

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/ie10-viewport-bug-workaround.css}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <![endif]-->
    <script th:src="@{css/ie-emulation-modes-warning.js}"></script>
    <script th:src="@{/css/ie8-responsive-file-warning.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">***公司绩效考核系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">退出系统</a></li>
            <li><a href="#">设置</a></li>
            <li><a href="#">个人资料</a></li>
            <li><a href="#">帮助</a></li>
            <li th:text="${userLogin.getName()}">邓壹</li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="搜索..." />
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="./index.html">考核汇总 <span class="sr-only">(current)</span></a></li>
            <li><a href="./personal.html">个人成绩</a></li>
            <li><a href="./center.html">考核中心</a></li>
            <li><a href="./message.html">留言板</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><li class="dropdown" style="list-style: none;">先进工作者
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2018-7<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">2018-7</a></li>
                <li><a href="#">2018-6</a></li>
                <li><a href="#">2018-5</a></li>
                <li><a href="#">2018-4</a></li>
              </ul>
            </li></h1>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="./css/p1.png" width="200" height="200" class="img-responsive img1" alt="Generic placeholder thumbnail" />
              <h4>邓壹</h4>
              <span class="text-muted">NO.1</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="./css/p2.jpg" width="200" height="200" class="img-responsive img1" alt="Generic placeholder thumbnail" />
              <h4>李贰</h4>
              <span class="text-muted">NO.2</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="./css/p3.jpg" width="200" height="200" class="img-responsive img1" alt="Generic placeholder thumbnail" />
              <h4>王叁</h4>
              <span class="text-muted">NO.3</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="./css/p4.jpg" width="200" height="200" class="img-responsive img1" alt="Generic placeholder thumbnail" />
              <h4>陈肆</h4>
              <span class="text-muted">NO.4</span>
            </div>
          </div>

          <h2 class="sub-header">绩效得分一览表</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>排名</th>
                  <th>姓名</th>
                  <th>绩效总分</th>
                  <th>团队目标完成</th>
                  <th>工作量</th>
                  <th>工作质量</th>
                  <th>工作效率</th>
                  <th>执行能力</th>
                  <th>创新能力</th>
                  <th>学习能力</th>
                  <th>团队合作</th>
                  <th>责任心</th>
                  <th>出勤</th>
                  <th>排名变化</th>
                </tr>
              </thead>
              <tbody>
              <tr th:each="line:${table1}">
                <td th:text="${line.getRank_no()}">2014-12-01</td>
                <td th:text="${line.getName()}">2014-12-01</td>
                <td th:text="${line.getScore()}">Red Chair</td>
                <td th:text="${line.getTeamtask()}">$123</td>
                <td th:text="${line.getQuantity()}">2014-12-01</td>
                <td th:text="${line.getQuality()}">2014-12-01</td>
                <td th:text="${line.getEfficiency()}">1</td>
                <td th:text="${line.getExecution()}">Red Chair</td>
                <td th:text="${line.getInnovation()}">2014-12-01</td>
                <td th:text="${line.getLearn()}">$123</td>
                <td th:text="${line.getTeamwork()}">$123</td>
                <td th:text="${line.getResponsibility()}">Red Chair</td>
                <td th:text="${line.getAttendance()}">1</td>
                <td>--</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script th:src="@{assets/css/vendor/jquery.min.js}"><\/script>')</script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script th:src="@{/css/holder.min.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script th:src="@{/css/ie10-viewport-bug-workaround.js}"></script>
  </body>
</html>
